@import "tailwindcss";

:root {
  --background: #0c0c0c;
  --foreground: #f3f3f3;
  --foreground-opposite: #f3f3f3;
  --neutral: #9b9b9b;
  --neutral-opposite: #9b9b9b;
  --columns: #131313;
  --columsn-opposite: #ececec;
  --cursor: #ff4500;
}

:root.light-theme {
  --background: #f3f3f3;
  --foreground: #0c0c0c;
  --foreground-opposite: #f3f3f3;
  --neutral: #6b6b6b;
  --neutral-opposite: #9b9b9b;
  --columns: #ececec;
  --columns-opposite: #131313;
  --cursor: #ff4500;
}

@media (prefers-color-scheme: light) {
  :root:not(.dark-theme) {
    --background: #f3f3f3;
    --foreground: #0c0c0c;
    --foreground-opposite: #f3f3f3;
    --neutral: #6b6b6b;
    --neutral-opposite: #9b9b9b;
    --columns: #ececec;
    --columns-opposite: #131313;
    --cursor: #ff4500;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-neue-haas-grotesk-text), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-neue-haas-grotesk-display), sans-serif;
}