@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #18191a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18191a;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-neue-haas-grotesk-text), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-neue-haas-grotesk-display), sans-serif;
}
