@import "tailwindcss";

:root {
  --background: #0c0c0c;
  --foreground: #f3f3f3;
  --neutral: #9b9b9b;
  --columns: #101010;
  --cursor: #ff4500;
}

* {
    cursor: none !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-neue-haas-grotesk-text), sans-serif;
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-neue-haas-grotesk-display), sans-serif;
}